@model ShoppingCart.Models.ViewModels.CartViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CartViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrandTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrandTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationIsDhaka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationIsDhaka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationOutsideDhaka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationOutsideDhaka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderCompleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderCompleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryCharge)
        </dd>
    </dl>
</div>

<table class="table">

    <tbody>
@foreach (var item in Model.CartItems) {
        
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MySize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <img src="/media/products/@item.Image" width="100" alt="" />

            </td>

        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit Order</a> |
    <a asp-action="Index">Back to List</a>
</div>
